*{
    margin:0;
    padding:0;
}
.main,.game{
    width:100%;
    min-height: 100vh;
    background-image: url("snake\ game\ backgound.png");
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    gap:3vmin;
}
.gameBoard{
    width: 100vmin;
    height: 90vmin;
    background:linear-gradient(rgb(81, 223, 52),rgb(185, 234, 10));
    border: 2px solid rgb(0, 44, 0);
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);
}
.head{
    background-color: red;
    border: 1px solid white;
    border-radius: 0.4vmin;
}
.snake{
    background-color: rgb(154, 35, 240);
    border: 1px solid white;
    border-radius: 0.4vmin;
}
.food{
    background-color: yellow;
    border: 2px solid black;
}
.score{
    font-size: 2.4vw;
    font-weight: 800;
    text-decoration: dashed; 
}