.LinkButton {
  padding: 10px 15px;
  text-decoration: none;
  margin: 20px auto;

  overflow: hidden;

  border-width: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  
  background-color: #2ecc71;
  color: #fff;
  
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  transition: background-color .3s;
  margin-bottom: 10%;
}

.LinkButton:hover {
  background-color: #26a65b;
}

.LinkButton > span {
  font-size: 1.1em;
  letter-spacing: .05em;
}
