#social-share {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background: #4b4949;
}

#social-share > h2 {
  display: block;
  color: rgb(255, 255, 255);
  margin-right: .25em;
}

#social-shares-container {
  display: flex;
  max-width: 100%;
}

.icon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  margin: 1.1em;
  border-radius: 2px;
  background: #4b4949;
  border: solid white 4px;
}
@media (max-width: 700px) {
  .icon-card {
    border: none;
  }
}

