/*
    Styling for ProjectsList.css
*/

.RowContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.ColumnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}