*{
    /* border: 1px solid red; */
}
.Card-Header{
    position: relative;
    font-weight: bold;
    background: white;
    padding: 2%;
    line-height: 18px;
}
.Project-Logo{
    width: 45%;
    height: 40%;
    margin-top: 5%;
}
.Card-Body{
    position: relative;
    background: white;
}
.Card-Container{
    overflow: hidden;
    width: 16%;
    min-width: 225px;
    display: flex;
    margin: 1.5vw;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    -webkit-transition: box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    background-color: #fff;
}
@media (max-width: 700px){
    .Card-Container{
        width: 100%;
    }
}

.Card-Container:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}
.Card-Real-Link:hover{
    text-decoration: none;
    color:black;
}
.Card-Real-Link:visited{
    text-decoration: none;
    color:black;
}
.Card-Real-Link:link{
    text-decoration: none;
    color:black;
}
.Card-Real-Link:active {
    text-decoration: none;
    color:black;
}
.Card-Description{
    position: relative;
    padding:5%;
}
.Card-Link{
    position: relative;
    padding:10px;
    color:#0F3CEF;
}
.Card-Title{
    margin-top: 6%;
    height: 10%;
}
.Card-Link-Style{
    margin-left: 10%;

}

.Card-Tag div {
    display: inline-block;
    background-color: #C8E1F9;
    padding: 5px;
    border-radius: 12px;
    margin: 10px 10px;
    vertical-align: middle;
}

.Card-Tag p {
    margin: 3px 0;
    font-size: 13px;
}
