.Container-layout{
    background: #f7f7fc;
    display: flex;
    flex-wrap: wrap;
    padding: 3em;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    .Container-layout{
        padding: 0.5vw;
    }
}