*{
    /* border: 1px solid red; */
}
.Card-Header{
    position: relative;
    display: flex;
    font-weight: bold;
    border-bottom: 2px solid black;
    background: #E3E9E6;
    padding: 2%;
    line-height: 16px;
}
.Project-Logo{
    float:right;
    width: 20%;
    height: 40%;
    margin-left: 35%;
}
.Card-Body{
    position: relative;
    height: 50%;
    word-break: break-all;
    background: #F8F8F8;
}
.Card-Container{
    overflow: hidden;
    float: left;
    width: 20%;
    word-break: break-all;
    display: block;
    margin-left: 4%;
    margin-bottom: 1.15em;
    margin-top: 1.15em;
    box-shadow: 0 0.13em 0px 0.04em rgba(0,0,0,.12);
    -webkit-transition: box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
}
.Card-Container:hover{
    box-shadow: 0 0.16em 0px 0.18em rgba(0,0,0,.12);
    text-decoration: none;
    color:black;
}
.Card-Container:visited{
    text-decoration: none;
    color:black;
}
.Card-Container:link{
    text-decoration: none;
    color:black;
}
.Card-Container:active {
    text-decoration: none;
    color:black;
}
.Card-Description{
    position: relative;
    text-align: justify;
    padding:5%;
}
 .Card-Link{
    position: relative;
    background: lightskyblue;
    text-align: left;
    padding:10px;
    color:#0F3CEF;
} 
.Card-Title{
    float:left;
    margin-top: 6%;
    height: 10%;
    margin-left: 10%;
}
.Card-Link-Style{
    margin-left: 10%;
    
}