*{
    /* border: 1px solid red; */
}
.Card-Header{
    position: relative;
    font-weight: bold;
    background: white;
    padding: 2%;
    line-height: 18px;
}
.Project-Logo{
    width: 45%;
    height: 40%;
    margin-top: 5%;
}
.Card-Body{
    position: relative;
    background: white;
}
.Card-Container{
    overflow: hidden;
    width: 16%;
    height: 100%;
    display: block;
    margin: 2%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    -webkit-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
}

.Card-Container:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}
.Card-Real-Link:hover{
    text-decoration: none;
    color:black;
}
.Card-Real-Link:visited{
    text-decoration: none;
    color:black;
}
.Card-Real-Link:link{
    text-decoration: none;
    color:black;
}
.Card-Real-Link:active {
    text-decoration: none;
    color:black;
}
.Card-Description{
    position: relative;
    padding:5%;
}
 .Card-Link{
    position: relative;
    padding:10px;
    color:#0F3CEF;
}
.Card-Title{
    margin-top: 6%;
    height: 10%;
}
.Card-Link-Style{
    margin-left: 10%;
}

/*Card Responsiveness*/
@media only screen and (max-width: 992px) {
    .Card-Container {
      width: 23%;
      margin: 1%;
    }
}

@media only screen and (max-width: 768px) {
    .Card-Container {
      width: 31%;
    }
}

@media only screen and (max-width: 576px) {
    .Card-Container {
      width: 48%;
    }
}

@media only screen and (max-width: 412px) {
    .Card-Container {
      width: 100%;
      margin: 2%;
    }
}
