*{
    /* border: 1px solid red; */
}
.Card-Header{
    position: relative;
    font-weight: bold;
    background: white;
    padding: 2%;
    line-height: 18px;
}
.Project-Logo{
    width: 45%;
    height: 40%;
    margin-top: 5%;
}
.Card-Body{
	flex: 1;
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Card-Container{
    overflow: hidden;
    width: 250px;
    min-width: 120px;
    height: auto;
    display: block;
    margin: 1.15em;
    margin-bottom: 1.15em;
    margin-top: 1.15em;
    padding: 1em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    -webkit-transition: box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
}

.Card-Container:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}

.Card-Real-Link
{
	height: 100%;	
	display: flex;
	flex-direction: column;
}

.Card-Real-Link:hover{
    text-decoration: none;
    color:black;
}
.Card-Real-Link:visited{
    text-decoration: none;
    color:black;
}
.Card-Real-Link:link{
    text-decoration: none;
    color:black;
}
.Card-Real-Link:active {
    text-decoration: none;
    color:black;
}
.Card-Description{
	flex: 2;
    position: relative;
    padding:5%;
    text-align: top;
}
 .Card-Link{
    position: relative;
    padding:10px;
    color:#0F3CEF;
} 
.Card-Title{
    margin-top: 6%;
    height: 10%;
}
.Card-Link-Style{
    margin-left: 10%;
    
}

@media screen and (max-width: 1387px)
{
    .Card-Container
    {
      width: 225px;
    }
}

@media screen and (max-width: 648px)
{
    .Card-Container
    {
      width: 100%;
    }
}

