#search {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: transparent;
    color: #B0B0B0;
    border-radius: 3px;
    width: 40%;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    border-bottom: 1px solid #DCDCDC;
}