.App {
  background-image: url("coder_image.jpg");
  background-size: 1500px 600px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: middle;
  flex-direction: column;
}

.App-header {
  padding: 20px;
  color: white;
  text-shadow: 3px 2px red;
}

.App-header > h1 {
  padding-top: 10%;
  font-size: 2.5em;
}
