.App {
  /* height: 500px; */
  background-color: #007EE5;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: middle;
  flex-direction: column;
}

.App-header {
  padding: 20px;
  color: white;
}

.App-header > h1 {
  font-size: 2.5em;
}

#cf6_image {
  margin:0 auto;
  width:1200px;
  height:500px;
  transition: background-image 0.1s ease-out;
  background-image:url("background.png");
  background-color: #007EE5; 
  
}

#cf6_image:hover {
  background-image:url("think.png");
  background-repeat: no-repeat;
}
