.App {
  /* height: 500px; */
  background-color: #007EE5;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: middle;
  flex-direction: column;
}

.App-header {
  padding: 20px;
  color: white;
}

.App-header > h1 {
  padding-top: 10%;
  font-size: 2.5em;
}
