.topnav {
    background-color:#007EE5;
    overflow: hidden;
    text-align: right;
}
@media (max-width: 700px) {
    .topnav {
        text-align: center;
    }
}

.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
